.bookContainer {
    display: flex;
    margin: auto;
    max-width: 75%;
    min-width: 500px;

    img {
        width: 50%;
    }

    .bookInfoContainer {
        margin-left: 10px;
    
        .isbn {
            font-size: 8px;
            font-weight: bold;
            font-style: italic;
        }
    }
}
